
*.code-workspace
*.class
*.exe
*.json
Year 2/Digital Design/Media/testtest.sv
*.bkp
*.dtmp
Year 2/Object Oriented Programming/Lectorial Codes/Test.java
Year 2/Object Oriented Programming/Lectorial Codes/ArraylistTry.java
*.lnk
*.OBJ
*.MAP
# Year 2/Microprocessors and Interfacing/
Year 2/Microprocessors and Interfacing/stdout.txt
Year 2/Microprocessors and Interfacing/stderr.txt
