
*.code-workspace
*.class
*.exe
*.json
Year 2/Digital Design/Media/testtest.sv
*.bkp
*.dtmp
Year 2/Object Oriented Programming/Lectorial Codes/Test.java
Year 2/Object Oriented Programming/Lectorial Codes/ArraylistTry.java
*.lnk

# Year 2/Microprocessors and Interfacing/
*.OBJ
*.MAP
Year 2/Microprocessors and Interfacing/stdout.txt
Year 2/Microprocessors and Interfacing/stderr.txt

# Ansi Color Codes
Year 2/Data Structures and Algorithms/Week05/Ansi.java
Year 2/Data Structures and Algorithms/Week06/Ansi.java
Year 2/Data Structures and Algorithms/Week09/Ansi.java
Year 2/Data Structures and Algorithms/Week08/Ansi.java
Year 2/Microprocessors and Interfacing/week07/Backup Of 7SegCount.pdsbak
Year 2/Microprocessors and Interfacing/week07/Last Loaded 7SegCount.pdsbak
